extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1514377413569&di=eb06c498929de301dfeb7c7050d7f2f4&imgtype=0&src=http%3A%2F%2Fimg5.duitang.com%2Fuploads%2Fitem%2F201508%2F16%2F20150816144032_Xuv4a.jpeg", alt="鸣人")

  a(href='https://github.com/LibertyPhoenix', target='_blank') 我的github

  



